<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Management</title>
</head>
<body>

<!-- Sidenav -->
<div class="sidenav">
  <a href="#">HOME</a>
  <a href="#">ADD PRODUCT</a>
  <a href="#">LIST PRODUCTS</a>
</div>

<!-- Navbar -->
<div class="main-content">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav ms-auto">
      <div class="dropdown">
        <button class="btn btn-secondary bg-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          [USERNAME]
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item" href="#">LOGIN</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">LOGOUT</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">PROFIL</a></li>
        </ul>
      </div>
    </ul>
  </nav>
</div>


</body>
</html>
